@{
      ViewData[ "Title" ] = "Index";
}

<h2>SinjulMSBH Caching ..</h2>

<ul class="list-group">
      <li class="list-group-item"><a asp-area="" asp-controller="Caching" asp-action="IMemoryCache">IMemoryCache</a></li>
      <li class="list-group-item"><a asp-area="" asp-controller="Caching" asp-action="RedisCache">RedisCache</a></li>
      <li class="list-group-item"><a asp-area="" asp-controller="Caching" asp-action="ResponseCache">ResponseCache</a></li>
      <li class="list-group-item"><a asp-area="" asp-controller="Caching" asp-action="SqlCache">SqlCache</a></li>
      <li class="list-group-item"><a asp-area="" asp-controller="Caching" asp-action="TagHelperCache">TagHelperCache</a></li>
</ul>