@{
      ViewData[ "Title" ] = "ResponseCache";
}

<h2>ResponseCache</h2>

<h2>ResponseCache attribute usage test</h2>
<h3>
      <b>View's Last Update Time:</b><br />
      @DateTime.Now.ToString( "HH:mm:ss" )
</h3>